.element-list__wrapper {
  width: 140px;
}

.element-list__title {
  width: 72px;
}

.element-list__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.element-list__characters {
  width: 100%;
}
