.additionally-product {
  width: 100%;
}

.additionally-product__title {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-top: 34px;
  padding-right: 55px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  color: #111111;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 11px;
    display: block;
    width: 53px;
    height: 3px;
    background: #68b738;
  }
}

@media (min-width: 768px) {
  .additionally-product__title {
    padding-top: 0;
    margin-bottom: 80px;
    width: 634px;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  .additionally-product__link {
    margin-top: 17px;
  }
}

@media (min-width: 1300px) {
  .additionally-product__wrapper {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 32px;
    display: flex;
    align-items: flex-start;
  }

  .additionally-product__title {
    width: 1220px;
    margin-bottom: 78px;
  }

  .additionally-product__link {
    width: 245px;
  }
}
