.advantageous-offer {
  position: relative;
  margin: 0 auto;
  margin-bottom: 62px;
  padding-top: 124px;
  padding-bottom: 40px;
  width: 280px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 100% 100%;

  &::before {
    content: "";
    position: relative;
    left: 50%;
    top: -65px;
    display: block;
    margin-left: -27px;
    width: 55px;
    height: 65px;
    background: url("../img/icon-gift.svg") no-repeat 100% 100%;
  }
}

.advantageous-offer__link {
  display: block;
  margin: 0 auto;
  width: 160px;
  font-family: "Arial MT", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .advantageous-offer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 142px;
    width: 708px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat 100% 100%;

    &::before {
      content: "";
      position: absolute;
      left: 115px;
      top: 85px;
      display: block;
      margin-left: -27px;
      width: 55px;
      height: 65px;
      background: url("../img/icon-gift.svg") no-repeat 100% 100%;
    }
  }

  .advantageous-offer__link {
    position: relative;
    top: -25px;
    width: 170px;
    margin: 0;
    margin-right: 115px;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .advantageous-offer {
    margin: 0 auto;
    margin-bottom: 62px;
    padding-top: 124px;
    padding-bottom: 40px;
    width: 280px;
    background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 100% 100%;

    &::before {
      content: "";
      position: relative;
      left: 50%;
      top: -65px;
      display: block;
      margin-left: -27px;
      width: 55px;
      height: 65px;
      background: url("../img/icon-gift.svg") no-repeat 100% 100%;
    }
  }

  .advantageous-offer__link {
    display: block;
    margin: 0 auto;
    width: 160px;
    font-family: "Arial MT", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
  }
}
