.another-item {
  padding-bottom: 18px;
  padding-top: 14px;
  border-top: 1px solid #cdcdcd;
}

.another-item__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .another-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 25px;
    padding-top: 0;
    margin-bottom: 24px;
    border: none;
    border-bottom: 1px solid #cdcdcd;
  }

  .another-item__title {
    font-size: 20px;
    line-height: 20px;
    width: 50%;
  }
}

@media (min-width: 1300px) {
  .another-item {
    align-items: baseline;
    padding: 0;
    margin-bottom: 12px;
    border-bottom: none;
    border-top: 1px solid #cdcdcd;
  }

  .another-item__title {
    width: 290px;
  }

  .another-item--last-element {
    padding-bottom: 12px;
    border-bottom: 1px solid #cdcdcd;
  }
}
