.another-item {
  margin-bottom: 17px;
  padding-top: 12px;
  border-top: 1px solid #cdcdcd;
}

.another-item__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}
