.another-character {
  width: 100%;
  margin-bottom: 12px;
  border-collapse: collapse;
}

.another-character__characters-one {
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.another-character__characters-one--place-text-one {
  padding: 0;
  text-align: left;
}

.another-character__characters-one--place-text-two {
  text-align: right;
}

@media (min-width: 768px) {
  .another-character {
    margin-bottom: 0;
    width: 220px;//Это дефолтная ширина задана специально для карточек, которые могу добавится. Так не сломается вёрстка
  }

  .another-characte--sugar-w {
    width: 224px;
  }

  .another-characte--water-w {
    width: 158px;
  }

  .another-characte--milk-w {
    width: 141px;
  }

  .another-characte--vitamin-w {
    width: 216px;
  }

  .another-character__characters-one {
    font-size: 16px;
  }
}
