.btn {
  display: block;
  width: 100%;
  padding: 12px 0 12px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.btn--another-btn {
  background-color: #f2f2f2;
  color: #444444;
}

@media (min-width: 768px) {
  .btn {
    font-size: 20px;
    line-height: 20px;
    padding: 11px 0 11px 0;
  }

  .btn--try {
    padding: 15px 0 15px 0;
  }

  .btn--font {
    font-size: 16px;
  }
}
