.btn {
  width: 100%;
  padding: 12px 0 12px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
