.catalog {
  width: 100%;
}

.catalog__wrapper {
  margin: 0 auto;
  margin-top: 30px;
  width: 315px;
  border: 1px solid #ededed;
}

.catalog__list-item {
  width: 100%;
  list-style: none;
}

@media (min-width: 768px) {
  .catalog__wrapper {
    width: 708px;
    border: none;
  }
}

@media (min-width: 1300px) {
  .catalog__wrapper {
    width: 1220px;
    border: none;
  }
}
