.characters {
  width: 100%;
}

.characters__one-characteristic {
  padding: 0;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-align: left;
}

.characters__one-characteristic--place-text {
  text-align: right;
}

@media (min-width: 768px) {
  .characters {
    border-spacing: 0 9px;
  }

  .characters__one-characteristic {
    padding-bottom: 7px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
  }

  .characters__row-character {
    border-collapse: collapse;
  }
}
