.choose-form__btn-wrap {
  margin: 0 auto;
  margin-top: 19px;
  width: 280px;
}

@media (min-width: 768px) {
  .choose-form__btn-wrap {
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 14px;
    margin-bottom: 138px;
  }

  .choose-form__btn-go {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 283px;
  }
}

@media (min-width: 1300px) {
  .choose-form__wrapper-dek {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  .choose-form__btn-wrap {
    box-sizing: border-box;
    margin: 0 auto;
    padding-right: 400px;
    width: 1220px;
  }
}
