.discription-process {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 19px 0;
  margin: 0;
  list-style: none;
}

.discription-process__item {
  position: relative;
  padding-bottom: 25px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
  }
}

.discription-process__item--sheet {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: 1.5dppx), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }
}

.discription-process__item--bottle {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: 1.5dppx), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }
}

.discription-process__item--canteen {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: 1.5dppx), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }
}

.discription-process__item--clock {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: 1.5dppx), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}


.discription-process__link {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: 768px) {
  .discription-process {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
  }

  .discription-process__item {
    padding-top: 184px;
    padding-bottom: 60px;
    padding-left: 0;
    width: 325px;

    &::before {
      top: 72px;
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      top: 34px;
      left: 115px;
      z-index: -1;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
    }
  }

  .discription-process__item--sheet {
    &::after {
      content: "1";
    }
  }

  .discription-process__item--bottle {
    &::after {
      content: "2";
    }
  }

  .discription-process__item--canteen {
    &::after {
      content: "3";
    }
  }

  .discription-process__item--clock {
    &::after {
      content: "4";
    }
  }

  .discription-process__link {
    display: block;
    width: 250px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1300px) {
  .discription-process {
    min-height: 0;
  }

  .discription-process__item {
    width: 250px;
  }
}
