.discription-process {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  list-style: none;
}

.discription-process__item {
  position: relative;
  margin-bottom: 23px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }
}

.discription-process__link {
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: 768px) {
  .discription-process {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .discription-process__item {
    padding-top: 90px;
    padding-left: 0;
    width: 250px;

    &::before {
      width: 80px;
      height: 80px;
    }
  }

  .discription-process__link {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1300px) {
  .discription-process__item {
    width: 250px;
  }
}
