.element-form {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 12px;
}

.element-form__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.element-form__input--collect-text {
  flex-grow: 1;
  padding: 13px 15px 13px 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;
}

.element-form__input--collect-text::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  opacity: 1;
}

.element-form__label--first-data {
  display: block;
  padding-right: 15px;
}

.element-form--mode-m {
  margin-bottom: 25px;
}

.element-form__label--mode-label {
  position: relative;
  padding-left: 46px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: red;
  }
}

.element-form__label--contact-label {
  display: block;
  padding-right: 11px;
}

.element-form__input--contact-input {
  flex-grow: 1;
  padding: 13px 50px 13px 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;
}

.element-form__input--contact-input::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  opacity: 1;
}

.shared-data__form-wrap--contact {
  margin-top: 33px;
  margin-bottom: 29px;
}

.element-form--more-m {
  margin-bottom: 24px;
  padding-left: 46px;
}

.element-form__label--more {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -46px;
    top: -5px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: red;
  }
}

@media (min-width: 768px) {
  .element-form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .element-form--more-m {
    width: 200px;
  }
}
