.element-form {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 12px;
}

.element-form__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.element-form__input--collect-text {
  flex-grow: 1;
  padding: 13px 15px 13px 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid rgba(205, 205, 205, 0.3);

  &:hover {
    border: 2px solid #cdcdcd;
    padding: 12px 14px 12px 14px;
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

.element-form__input--collect-text::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  opacity: 1;
}

.element-form__label--first-data {
  display: block;
  padding-right: 15px;
}

.element-form--mode-m {
  margin-bottom: 25px;
}

.element-form__label--mode-label {
  position: relative;
  padding-left: 46px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: -7px;
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    cursor: pointer;
  }
}

.element-form__label--mode-label:hover {
    &::after {
      border: 1px solid #bababa;
    }
}

 .element-form__input--radio-btn:checked + .element-form__label--mode-label {
    &::before {
      content: "";
      position: absolute;
      left: 9px;
      top: 2px;
      display: block;
      width: 12px;
      height: 12px;
      background-color: #68b738;
      border-radius: 50%;
      cursor: pointer;
    }
 }

  .element-form__input--radio-btn:focus + .element-form__label--mode-label {
    &::after {
      border-color: #0000ff;
    }
  }

 .element-form__input--radio-btn:disabled + .element-form__label--mode-label {
   opacity: 0.3;
   cursor: not-allowed;
   &::before,
   &::after {
     cursor: not-allowed;
   }
 }

.element-form__label--contact-label {
  display: block;
  padding-right: 11px;
}

.element-form__input--contact-input {
  flex-grow: 1;
  padding: 13px 50px 13px 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid rgba(205, 205, 205, 0.3);

  &:hover {
    border: 2px solid #cdcdcd;
    padding: 12px 49px 12px 14px;
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

.element-form__input--contact-input::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  opacity: 1;
}

.element-form--more-m {
  margin-bottom: 24px;
  padding-left: 46px;
}

.element-form__label--more {
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    left: -47px;
    top: -4px;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    cursor: pointer;
  }
}

.element-form__input--checkbox:checked + .element-form__label--more {
  &::after {
    content: "";
    position: absolute;
    left: -41px;
    top: 3px;
    width: 21px;
    height: 16px;
    background: url("../img/icon-tick.svg") no-repeat;
  }
}

.element-form__label--more:hover {
  &::before {
    border: 1px solid #bababa;
  }
}

.element-form__input--checkbox:focus + .element-form__label--more {
  &::before {
    border-color: #0000ff;
  }
}

.element-form__input--checkbox:disabled + .element-form__label--more {
  opacity: 0.3;
  cursor: not-allowed;
  &::before,
  &::after {
    cursor: not-allowed;
  }
}



@media (min-width: 768px) {
  .element-form {
    margin-bottom: 22px;
  }

  .element-form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .element-form--more-m {
    width: 200px;
    padding-left: 30px;
    margin-bottom: 52px;
  }

  .element-form__label--more {
    &::before {
      top: -12px;
      left: -57px;
      width: 40px;
      height: 40px;
    }
  }

  .element-form__input--checkbox:checked + .element-form__label--more {
    &::after {
      left: -45px;
      top: 1px;
    }
  }

  .element-form__input--collect-text {
    display: block;
    padding: 9px 15px 9px 20px;
    min-height: 30px;
    font-size: 20px;
    line-height: 20px;

    &:hover {
        padding: 8px 14px 8px 19px;
    }
  }

  .element-form__input--collect-text::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .element-form__label--mode-label {
    padding-left: 40px;

    &::after {
      left: -21px;
      top: -10px;
      width: 40px;
      height: 40px;
    }
  }

   .element-form__input--radio-btn:checked + .element-form__label--mode-label {
     &::before {
       left: -9px;
       top: 2px;
       width: 18px;
       height: 18px;
     }
   }

  .element-form--mode-m {
    padding-bottom: 12px;
  }

  .element-form--contact {
    margin-bottom: 21px;
  }

  .element-form__label--contact-label-mail {
    padding-right: 20px;
  }

  .element-form__input--contact-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    min-height: 30px;
    font-size: 20px;

    &:hover {
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 19px;
    }
  }

  .element-form__input--contact-input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1300px) {
  .element-form--more-m {
    width: 158px;
  }

  .element-form__label--more {
    &::before {
      top: -10px;
      left: -60px;
      width: 40px;
      height: 40px;
    }
  }

  .element-form__input--checkbox:checked + .element-form__label--more {
    &::after {
      left: -50px;
      top: 3px;
    }
  }
}
