.explanation {
  display: block;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 60px;
  width: 280px;
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}

@media (min-width: 768px) {
  .explanation {
    width: 180px;
    margin: 0;
    margin-left: 64px;
    font-size: 16px;
    line-height: 16px;
  }
}
