.explanation {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 280px;
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}
