.filter-programm {
  width: 100%;
}

.filter-programm__instruction {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 39px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}
