.footer-all-page {
  width: 100%;
}

.footer-all-page__wrapper {
  width: 280px;
  margin: 0 auto;
}

.footer-all-page__logo {
  display: block;
  padding-top: 19px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dadada;
}

.footer-all-page__map {
  margin-bottom: 0;
}

.footer-all-page__cat-logo {
  display: block;
  margin: 0 auto;
}

.footer-all-page__link-information {
  width: 100%;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .footer-all-page {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -65px;
      z-index: -1;
      width: 100%;
      height: 202px;
      background-color: #f2f2f2;
    }
  }

  .footer-all-page__wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .footer-all-page__link-information {
    padding-top: 42px;
    padding-bottom: 30px;
  }

  .footer-all-page__logo {
    border: none;
  }

  .footer-all-page__wrapper--low-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1300px) {

  .footer-all-page {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -65px;
      z-index: -1;
      display: none;
      width: 100%;
      height: 202px;
      background-color: #f2f2f2;
    }
  }

  .footer-all-page__wrapper {
    position: relative;
    width: 1220px; //Изменить на 1220 потом
    margin: 0 auto;
  }

  .footer-all-page__map {
    margin-top: 0;
  }
}
