.html-academy {
  margin: 0;
  padding-top: 19px;
  border-top: 1px solid #dadada;
}

.html-academy__link {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;

  &:hover {
    .html-academy__logo {
      fill: #68b738;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.html-academy__name {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.html-academy__logo {
  position: relative;
  display: block;
  top: -14px;
  right: -10px;
  fill: #666666;
}

@media (min-width: 768px) {
  .html-academy__logo {
    top: -13px;
  }

  .html-academy {
    padding: 0;
    border: none;
  }
}

@media (min-width: 1300px) {
  .html-academy {
    padding-top: 13px;
  }
}
