.indicator-light {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 25px;
}

.indicator-light__elements {
  margin-top: 3px;
  margin-left: 3px;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .indicator-light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
  }

  .indicator-light__elements {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #cdcdcd;
    cursor: pointer;

    &:focus {
      width: 32px;
      height: 32px;
      border: 2px solid #68b738;
      outline: none;
    }
  }

  .indicator-light__elements-in {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
  }
}
