.list-item {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.list-item__element-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 280px;
}

@media (min-width: 768px) {
  .list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
    margin-bottom: 60px;
  }

  .list-item__element-wrapper {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .list-item__element-wrapper {
    width: 100%;
    justify-content: flex-start;
  }
}
