.map {
  width: 100%;
}

.map__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .map__img {
    width: 100%;
    max-width: 770px;
    height: 396px;
  }
}

@media (min-width: 1300px) {
  .map__img {
    width: 100%;
    max-width: 1440px;
  }
}
