.menu-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu-header__item {
  width: 100%;
  padding: 20px 0 20px 0;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.menu-header__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
}

.menu-header__item:hover .menu-header__link {
  opacity: 0.6;
}

.menu-header__item:active .menu-header__link {
  opacity: 0.3;
}

.menu-header__item--active:hover .menu-header__link,
.menu-header__item--active:active .menu-header__link  {
  opacity: 1;
}

@media (min-width: 768px) {
  .menu-header {
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0;
    width: 438px;
  }

  .menu-header__item {
    width: auto;
    padding: 0;
    padding-bottom: 6px;
    border: none;
  }

  .menu-header__item--active {
    border-bottom: 2px solid #68b738;
  }

  .menu-header__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }
}

@media (min-width: 1300px) {
  .menu-header {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  .menu-header__item--active-desktop {
    border-bottom: 2px solid #ffffff;
  }

  .menu-header__link {
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
  }

  .menu-header__link--color {
    color: #111111;
  }
}
