.menu-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu-header__item {
  width: 100%;
  padding: 20px 0 20px 0;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.menu-header__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
}

.menu-header__item:hover .menu-header__link {
  opacity: 0.6;
}

.menu-header__item:active .menu-header__link {
  opacity: 0.3;
}

@media (min-width: 708px) {
  .menu-header {
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0;
  }

  .menu-header__item {
    width: auto;
    padding: 0;
    border: none;
  }

  .menu-header__link {
    font-size: 18px;
    line-height: 24.86px;
    font-weight: 400;
  }
}
