.more-item {
  position: relative;
  padding-top: 79px;
  padding-bottom: 20px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 25px;
    display: block;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background: url("../../img/icon-plus-mobile.svg") no-repeat 100% 100%;
  }
}

.more-item__wrapper {
  margin: 0 auto;
  width: 280px;
}

.more-item__title {
  margin: 0;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
}

.more-item__discription {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  text-align: center;
}

@media (min-width: 768px) {
  .more-item {
    width: 249px;
    margin: 0 auto;

    &::before {
      top: 55px;
      left: 110px;
      width: 60px;
      height: 60px;
    }
  }

  .more-item__wrapper {
    padding-top: 84px;
    width: 100%;
  }

  .more-item__title {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 134px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }

  .more-item__discription {
    margin: 0 auto;
    margin-bottom: 86px;
    width: 185px;
    font-size: 16px;
  }
}

@media (min-width: 1300px) {
  .more-item {
    width: 100%;
  }

  .more-item__wrapper {
    margin: 0 auto;
    padding-top: 82px;
    width: 169px;
  }

  .more-item__discription {
    width: 170px;
  }
}
