.other-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.other-information__elements {
  margin: 0;
  width: 123px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.other-information__place {
  padding-left: 4px;
  width: 144px;
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: 768px) {
  .other-information {
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 625px;
  }

  .other-information__city {
    display: block;
    padding-top: 17px;
  }

  .other-information__elements {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }

  .other-information__place {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: 1300px) {
  .other-information {
    position: absolute;
    z-index: 4;
    top: 90px;
    left: 0;
    width: 410px;
    padding: 70px 90px 60px 76px;
    background-color: #ffffff;
  }

  .other-information__place {
    text-align: left;
  }
}
