.preview {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 50%;
    width: 320px;
    height: 305px;
    margin-left: -160px;
    background: green url("../img/index-background-mobile@1x.jpg") no-repeat;
    background-size: 320px auto;

    @media (min-resolution: 1.5dppx), (min-resolution: 1.5dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

.preview__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 22px;
  z-index: 1;
  border-top: 1px solid transparent;
}

.preview__title {
  width: 255px;
  margin: 0 auto;
  margin-top: 28px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.preview__description {
  width: 198px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.preview__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

@media (min-width: 768px) {
  .preview {
    &::before {
      display: none;
    }
  }

  .preview__wrapper {
    box-sizing: border-box;
    width: 708px;
    margin-bottom: 0;
    padding-left: 88px;
    padding-top: 48px;
    padding-bottom: 515px;
  }

  .preview__title {
    margin: 0;
    margin-bottom: 41px;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }

  .preview__description {
    margin: 0;
    margin-bottom: 48px;
    width: 420px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }

  .preview__img {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    order: 4;
    width: auto;
    height: 609px;
  }

  .preview__link {
    width: 245px;
  }
}

@media (min-width: 1300px) {
  .preview {
    &::before {
      top: -128px;
      left: auto;
      right: 0;
      z-index: -1;
      display: block;
      margin-left: 0;
      width: 50%;
      height: 696px;
      background: url("../img/index-background-desktop@1x.jpg") no-repeat right top;
      background-size: cover;

      @media (min-resolution: 1.5dppx), (min-resolution: 1.5dppx) {
        background: url("../img/index-background-desktop@2x.jpg");
        background-size: cover;
        background-position: right top;
      }
    }
  }

  .preview__wrapper {
    box-sizing: border-box;
    width: 1240px;
    padding-top: 43px;
    padding-left: 90px;
    padding-bottom: 255px;
    margin: 0 auto;
  }

  .preview__title {
    margin-top: 50px;
  }

  .preview__description {
    margin-bottom: 54px;
  }

  .preview__img {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 16px;
    left: 37%;
  }
}
