.programm-eat {
  width: 100%;
}

.programm-eat__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .programm-eat__wrapper {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 45px;
  }
}

@media (min-width: 1300px) {
  .programm-eat__wrapper {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
