.shared-data {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.shared-data__form-wrap {
  margin: 0 auto;
  width: 280px;
}

.shared-data__form-wrap--contact {
  margin-top: 33px;
  margin-bottom: 29px;
}

.shared-data__wrapper--radio-programm {
  box-sizing: border-box;
  padding-top: 25px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 320px;
  border: 1px solid #ededed;
}

.shared-data--mar1 {
  margin-bottom: 13px;
}

.shared-data__title {
  position: relative;
  margin: 0 auto;
  width: 280px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 20px;
    top: 14px;
    width: 500px;
    margin-right: -100%;
    height: 3px;
    background: #68b738;
  }
}

.shared-data__title-sub {
  display: inline-block;
  width: auto;
  padding-right: 20px;
  max-width: 185px;
  background-color: #ffffff;
}

.shared-data__form-wrap--comment {
  margin-top: 35px;
  margin-bottom: 26px;
}

.shared-data__comment {
  box-sizing: border-box;
  display: block;
  padding: 12px 12px 12px 15px;
  width: 280px;
  height: 150px;
  font-size: 16px;
  line-height: 18px;
  resize: vertical;
  color: #444444;
  border: 1px solid rgba(205, 205, 205, 0.3);
  text-transform: uppercase;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    padding: 11px 11px 11px 14px;
    border: 2px solid #444444;
    outline: none;
  }
}

.shared-data__comment::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  opacity: 1;
}

.shared-data__form-wrap--more-choose {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .shared-data--pad {
    padding-bottom: 75px;
  }

  .shared-data__form-wrap {
    width: 630px;
  }

  .shared-data--mar1 {
    margin-bottom: 52px;
  }

  .shared-data__wrapper--radio-programm {
    padding-top: 32px;
    margin-bottom: 0;
    width: 630px;
  }

  .shared-data__form-wrap--radio {
    margin: 0 auto;
    width: 530px;
  }

  .shared-data__title {
    margin-top: 0;
    width: 630px;
    font-size: 36px;
    line-height: 36px;
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 172px;
      top: 22px;
      width: 100%;
      margin-right: -100%;
      height: 3px;
      background: #68b738;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: -40px;
      top: 22px;
      display: block;
      width: 100%;
      margin-left: -100%;
      height: 3px;
      background: #68b738;
    }
  }

  .shared-data__title-sub {
    display: inline-block;
    padding-right: 40px;
    width: auto;
    max-width: 550px;
    background-color: #ffffff;
  }

  .shared-data__form-wrap--contact {
    padding-top: 42px;
    padding-left: 3px;
    margin-bottom: 65px;
  }

  .shared-data__form-wrap--comment {
    margin-top: 75px;
    margin-bottom: 65px;
  }

  .shared-data__comment {
    width: 631px;
    min-height: 175px;
    padding-top: 16px;
    padding-left: 19px;
    font-size: 20px;

    &:focus {
      padding-top: 15px;
      padding-left: 18px;
    }
  }

  .shared-data__comment::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .shared-data__form-wrap--more-choose {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 575px;
    margin-top: 67px;
  }

  .shared-data__element-form--start-data {
    padding-left: 3px;
  }
}

@media (min-width: 1300px) {
  .shared-data--dekstop-width {
    width: 570px;
  }

  .shared-data--mar1 {
    margin-bottom: 0;
    width: 630px;
  }

  .shared-data--pad {
    padding-bottom: 0;
  }

  .shared-data__wrapper--dekstop-width {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .shared-data__wrapper--radio-programm {
    margin-bottom: 0;
  }

  .shared-data__form-wrap--radio {
    box-sizing: border-box;
    padding-left: 28px;
  }


  .shared-data__form-wrap--contact {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 47px;
  }

  .element-form--contact {
    width: 570px;
  }

  .shared-data__title {
    width: 1220px;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 172px;
      top: 22px;
      width: 100%;
      margin-right: -100%;
      height: 3px;
      background: #68b738;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: -40px;
      top: 22px;
      display: block;
      width: 100%;
      margin-left: -100%;
      height: 3px;
      background: #68b738;
    }
  }

  .shared-data__form-wrap--comment {
    width: 1220px;
  }

  .shared-data__comment {
    width: 1220px;
  }

  .shared-data__form-wrap--more-choose {
    width: 1160px;
    margin-bottom: 20px;
  }
}
