.social {
  width: 136px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 8px;
  list-style: none;
}

.social__link {
  display: block;
  width: 22px;
  height: 19px;
  padding-bottom: 7px;
}

.social__item:not(:nth-child(3n)) {
  margin-right: 35px;
}

.social__svg-icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .social {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0;
    margin-left: 48px;
    margin-right: 0;
    width: 151px;
    border: 0;
  }

  .social__item:not(:nth-child(3n)) {
    margin-right: 26px;
  }

  .social__link {
    display: flex;
    align-items: center;
    width: 30px;
    height: 28px;
  }

  .social__link--space {
    margin-left: 0;
    margin-right: 0;
  }

  .social__svg-icon--vk {
    width: 30px;
    height: 16px;
    align-self: center;
  }

  .social__svg-icon--inst {
    width: 23px;
    height: 23px;
    align-self: center;
  }

  .social__svg-icon--fb {
    width: 14px;
    height: 28px;
  }
}
