.switcher {
  width: 100%;
}

.switcher__love-boris {
  margin-left: -15px;
  margin-bottom: 35px;
}

.switcher__img-cat {
  width: 100%;
}

.switcher__love-boris--vision {
  display: none;
}

@media (min-width: 768px) {
  .switcher {
    position: relative;
    padding-top: 365px;
    padding-bottom: 70px;
    margin-top: 225px;
    border: 1px solid transparent;//ЧТобы двигалась только каринка котов, а не весь блок
  }

  .switcher__img-cat {
    position: absolute;
    top: -167px;
    display: flex;
    justify-content: center;
  }

  .switcher__love-boris {
    width: 708px;
    height: 514px;
  }

  .switcher__love-boris--vision {
    display: block;
  }

  .switcher__love-boris--after {
    position: relative;
    left: -336px;
  }

  .switcher__img-container {
    width: 332px;
    overflow: hidden;
  }
}

@media (min-width: 1300px) {
  .switcher {
    margin-top: 0;
  }
}
