.switchers-element {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  margin: 0 auto;
  width: 200px;
}

.switchers-element__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.switchers-element__input:hover + .switchers-element__label {
  cursor: pointer;
}

.switchers-element__indicator {
  align-self: center;
}

@media (min-width: 768px) {
  .switchers-element__label {
    display: block;
    font-size: 20px;
    padding-left: 0;
    padding-bottom: 7px;
    border-bottom: 1px dotted #bebebe;
  }

  .switchers-element__input:hover + .switchers-element__label {
    border-bottom: 1px solid #bebebe;
  }

  .switchers-element__input:active + .switchers-element__label {
    border-bottom: 1px solid transparent;
  }

  .switchers-element {
    padding-left: 0;
    width: 570px;
  }
}
