.view-program {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 30px;
  padding-right: 5px;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 21px;
    width: 50px;
    height: 51px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
  }
}

.view-program--cat-slim {
  &::after {
    top: 25px;
    left: 25px;
    width: 39px;
    height: 49px;
    background: url("../img/icon-cat-slim.svg") no-repeat 100% 100%;
  }
}

.view-program--cat-pro {
  &::after {
    top: 38px;
    left: 14px;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg") no-repeat 100% 100%;
  }
}

.view-program__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 90px;
  width: 145px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.view-program__discription {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.view-program__separator {
  display: none;
}

.view-program__link {
  position: relative;
  display: block;
  width: 240px;
  margin: 0 0 0 20px;
  padding-top: 19px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  border-top: 1px solid #dadada;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    margin-left: 12px;
    width: 24px;
    height: 11px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
  }

  &:hover {
    &::after {
      background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
      width: 31px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .view-program {
    padding-top: 78px;
    padding-bottom: 65px;
    margin-bottom: 25px;

    &::before {
      top: 95px;
      left: auto;
      right: 60px;
      width: 200px;
      height: 200px;
    }
  }

  .view-program--cat-slim {
    &::after {
      top: 82px;
      left: auto;
      right: 95px;
      width: 140px;
      height: 194px;
      background: url("../img/icon-cat-slim.svg") no-repeat 100% 100%;
    }
  }

  .view-program--cat-pro {
    &::after {
      top: 140px;
      left: auto;
      right: 30px;
      width: 268px;
      height: 112px;
      background: url("../img/icon-cat-pro.svg") no-repeat 100% 100%;
    }
  }

  .view-program__title {
    width: 210px;
    margin-left: 55px;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 37px;
  }

  .view-program__discription {
    width: 383px;
    margin-left: 32px;
    font-size: 16px;
    line-height: 24px;
  }

  .view-program__separator {
    display: inline;
  }

  .view-program__link {
    margin: 55px 0 0 53px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    border: none;

    &::after {
      margin-left: 25px;
      margin-top: 5px;
    }
  }
}

@media (min-width: 1300px) {
  .view-program {
    width: 570px;
    padding-bottom: 60px;

    &::before {
      top: 45px;
      left: 50px;
      width: 100px;
      height: 100px;
    }
  }

  .view-program--cat-slim {
    &::after {
      top: 40px;
      left: 65px;
      width: 70px;
      height: 97px;
      background: url("../img/icon-cat-slim.svg") no-repeat 100% 100%;
    }
  }

  .view-program--cat-pro {
    &::after {
      top: 70px;
      left: 35px;
      width: 134px;
      height: 56px;
      background: url("../img/icon-cat-pro.svg") no-repeat 100% 100%;
    }
  }

  .view-program__title {
    margin-left: 215px;
    margin-bottom: 70px;
  }

  .view-program__discription {
    width: 470px;
  }

  .view-program__link {
    margin-top: 35px;
  }

  .view-program__separator {
    display: none;
  }
}
