.view-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.view-result__item {
  position: relative;
  padding: 15px 0 15px 0;
  width: 124px;
  border: 1px solid #cdcdcd;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 20px;
    display: block;
    width: 80px;
    height: 1px;
    background-color: #f2f2f2;
  }
}

.view-result__title {
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  z-index: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  font-family: "Arial MT", sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  text-transform: none;
}

.view-result__all-cost {
  width: 100%;
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

@media (min-width: 768px) {
  .view-result {
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }

  .view-result__item {
    padding: 17px 0px 17px 0;
    width: 161px;
    font-size: 30px;
    line-height: 37px;
  }

  .view-result__title {
    top: 65px;
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    font-size: 14px;
    line-height: 14px;
    background-color: white;
    text-transform: lowercase;
  }

  .view-result__item--place {
    margin-left: 40px;
  }

  .view-result__all-cost {
    margin: 0;
    margin-left: auto;
    width: 174px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }
}

@media (min-width: 1300px) {
  .view-result {
    justify-content: center;
    flex-wrap: wrap;
    width: 368px;
  }

  .view-result__all-cost {
    width: 100%;
  }
}
