.what-job {
  width: 100%;
}

.what-job__wrapper {
  margin: 0 auto;
  padding-bottom: 3px;
  width: 280px;
}

.what-job__title {
  margin: 0;
  padding-bottom: 29px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

@media (min-width: 768px) {
  .what-job {
    padding-bottom: 54px;
    border-bottom: 1px solid #e6e6e6;
  }

  .what-job__wrapper {
    margin: 0 auto;
    margin-bottom: 0;
    width: 708px;
  }

  .what-job__title {
    padding-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: 1300px) {
  .what-job {
    border-bottom: none;
    padding-bottom: 37px;
  }

  .what-job__wrapper {
    width: 1220px;
  }
}
